# Test of Chainladder Package

[Chainladder Package (Python)](https://github.com/casact/chainladder-python/)

In [1]:
import sys
!{sys.executable} -m pip install chainladder==0.8.2

Collecting chainladder==0.8.2
  Downloading chainladder-0.8.2-py3-none-any.whl (1.3 MB)
Collecting patsy
  Using cached patsy-0.5.1-py2.py3-none-any.whl (231 kB)
Collecting sparse>=0.9
  Using cached sparse-0.12.0-py2.py3-none-any.whl (76 kB)
Requirement already satisfied: scikit-learn>=0.23 in c:\users\stefa\.conda\envs\python36\lib\site-packages (from chainladder==0.8.2) (0.23.2)
Requirement already satisfied: pandas>=0.23 in c:\users\stefa\.conda\envs\python36\lib\site-packages (from chainladder==0.8.2) (1.1.0)
Collecting xlcompose
  Using cached xlcompose-0.2.4-py3-none-any.whl (13 kB)
Requirement already satisfied: dill in c:\users\stefa\.conda\envs\python36\lib\site-packages (from chainladder==0.8.2) (0.3.3)
Requirement already satisfied: numpy>=1.4 in c:\users\stefa\.conda\envs\python36\lib\site-packages (from patsy->chainladder==0.8.2) (1.19.1)
Requirement already satisfied: six in c:\users\stefa\.conda\envs\python36\lib\site-packages (from patsy->chainladder==0.8.2) (1.15.0)
Collecting numba>=0.49
  Downloading numba-0.53.1-cp36-cp36m-win_amd64.whl (2.3 MB)
Requirement already satisfied: scipy>=0.19 in c:\users\stefa\.conda\envs\python36\lib\site-packages (from sparse>=0.9->chainladder==0.8.2) (1.5.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\stefa\.conda\envs\python36\lib\site-packages (from scikit-learn>=0.23->chainladder==0.8.2) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\stefa\.conda\envs\python36\lib\site-packages (from scikit-learn>=0.23->chainladder==0.8.2) (0.16.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\stefa\.conda\envs\python36\lib\site-packages (from pandas>=0.23->chainladder==0.8.2) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\stefa\.conda\envs\python36\lib\site-packages (from pandas>=0.23->chainladder==0.8.2) (2020.1)
Collecting xlsxwriter>=1.1.8
  Using cached XlsxWriter-1.3.7-py2.py3-none-any.whl (144 kB)
Requirement already satisfied: pyyaml in c:\users\stefa\.conda\envs\python36\lib\site-packages (from xlcompose->chainladder==0.8.2) (5.3.1)
Requirement already satisfied: jinja2 in c:\users\stefa\.conda\envs\python36\lib\site-packages (from xlcompose->chainladder==0.8.2) (2.10.1)
Collecting llvmlite<0.37,>=0.36.0rc1
  Using cached llvmlite-0.36.0-cp36-cp36m-win_amd64.whl (16.0 MB)
Requirement already satisfied: setuptools in c:\users\stefa\.conda\envs\python36\lib\site-packages (from numba>=0.49->sparse>=0.9->chainladder==0.8.2) (46.4.0.post20200518)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\stefa\.conda\envs\python36\lib\site-packages (from jinja2->xlcompose->chainladder==0.8.2) (1.1.1)
Installing collected packages: patsy, llvmlite, numba, sparse, xlsxwriter, xlcompose, chainladder
Successfully installed chainladder-0.8.2 llvmlite-0.36.0 numba-0.53.1 patsy-0.5.1 sparse-0.12.0 xlcompose-0.2.4 xlsxwriter-1.3.7

In [14]:
import chainladder as cl

In [16]:
# Load Sample Data
triangle = cl.load_sample('ukmotor')
triangle

          12      24       36       48       60       72       84
2007  3511.0  6726.0   8992.0  10704.0  11763.0  12350.0  12690.0
2008  4001.0  7703.0   9981.0  11161.0  12117.0  12746.0      NaN
2009  4355.0  8287.0  10233.0  11755.0  12993.0      NaN      NaN
2010  4295.0  7750.0   9773.0  11093.0      NaN      NaN      NaN
2011  4150.0  7897.0  10217.0      NaN      NaN      NaN      NaN
2012  5102.0  9650.0      NaN      NaN      NaN      NaN      NaN
2013  6283.0     NaN      NaN      NaN      NaN      NaN      NaN

In [18]:
# Train model on sample data
model = cl.Chainladder().fit(triangle)

# Make predictions & fill out rest of triangle + last date
model.full_triangle_

        12            24            36            48            60            72            84            96            9999
2007  3511.0   6726.000000   8992.000000  10704.000000  11763.000000  12350.000000  12690.000000  12690.000000  12690.000000
2008  4001.0   7703.000000   9981.000000  11161.000000  12117.000000  12746.000000  13096.902024  13096.902024  13096.902024
2009  4355.0   8287.000000  10233.000000  11755.000000  12993.000000  13654.620101  14030.536767  14030.536767  14030.536767
2010  4295.0   7750.000000   9773.000000  11093.000000  12166.335187  12785.860463  13137.859861  13137.859861  13137.859861
2011  4150.0   7897.000000  10217.000000  11719.970266  12853.969769  13508.510273  13880.404483  13880.404483  13880.404483
2012  5102.0   9650.000000  12374.981102  14195.400857  15568.917781  16361.706894  16812.150646  16812.150646  16812.150646
2013  6283.0  11870.058983  15221.943585  17461.165333  19150.670711  20125.847243  20679.919151  20679.919151  20679.919151

In [21]:
# Print total expected cost from current claims periods
model.ultimate_.sum()

104327.7729324564